<h1>Posts</h1>

<a class="btn btn-default" href="/posts/new">Create new post</a>
<br><br>

<ul>
{{#each posts}}
  <li><a href="/posts/{{id}}">{{title}}</a></li>
{{/each}}
</ul>

<div class="debug">Rendered {{renderer}}-side.</div>
