<h1>New Post</h1>

<form method="post" role="form" id="post-form" action="/posts.json">
  <div class="form-group">
    <label for="post-title">Title</label>
    <input name="title" class="form-control" id="post-title">
  </div>
  <div class="form-group">
    <label for="post-author">Author</label>
    <input name="author" class="form-control" id="post-author">
  </div>
  <div class="form-group">
    <label for="post-body">Body</label>
    <textarea name="body" class="form-control" id="post-body"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
