<h1>Create a new post</h1>

<form id="new_post_form" action="/api/posts" method="POST">
  <input name="title" placeholder="Title">
  <input name="author" placeholder="Author">
  <textarea name="body" placeholder="Body"></textarea>
  <input type="submit">
</form>
