<form action="/api/posts.json" method="POST">
  <input name="title" placeholder="Title...">
  <input name="author" placeholder="Author...">
  <textarea name="body"></textarea>
  <input type="submit">
</form>
